# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtualenv
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs / fuzz output
*.log
capwap_log/

# Scripts
*.sh

# PCAP cache or temp
*.pcap.tmp
